<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Owner</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1>Update New Owner </h1>
            <div class="card-body">
                <form th:action="@{/owners/{id}(id=${owner.ownerId})}" th:object="${owner}" method="post">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text"
                               name="dateOfIssue"
                               th:field="${owner.firstName}"
                               class="form-control"
                               placeholder="Enter the First Name"/>

                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text"
                               name="lastName"
                               th:field="${owner.lastName}"
                               class="form-control"
                               placeholder="Enter the Last Name"/>

                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text"
                               name="email"
                               th:field="${owner.email}"
                               class="form-control"
                               placeholder="Enter the Email"/>

                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text"
                               name="phoneNumber"
                               th:field="${owner.phoneNumber}"
                               class="form-control"
                               placeholder="Enter the Phone Number"/>

                    </div>
                    <div class="footer-body">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>